@import "../../../master.css";

/* mobile width threshold set to 800px */

.mobile-menu-header{
    background-color: var(--c-blur);
    border: solid 2px white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 7px 3px;
    z-index:2;
}

@media (min-width: 800px){
    .mobile-menu-header{
        display: none;
    }
}


.left-container{
    display: flex;
    flex-direction: row;
}

.logo-element{
    padding: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.left-element{
    margin:0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.right-element{
    margin:0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: right;
}