@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root{
    --c-deep-dark: #ffffff;
    --c-deep-light: rgb(132, 132, 132);
    --c-deep-black: rgb(32, 32, 32);
    --c-deep-trans: #000f3b90;
    --c-bright: #eec230;
    --c-lite: rgb(246, 246, 246); 
    --c-deep-second: #004254;
    --c-light-border: black;
    --c-shadow-back-light: rgb(132, 132, 132);
    --f-family: Rubik, Ariel;
    --f-size-title: 2rem;
    --f-size-mid: 1.2rem;
    --f-size-para: 0.6rem;

}