@import "../../master.css";


/* .parsable-div .res-image{
} */


.parsable-div img{
    height: 10vw;
    border-radius: 5px;
    border: solid 5px var(--c-deep-light);
    transition: ease 0.2s border;
}


.parsable-div.dark img{
    border: solid 5px var(--c-lite);
}

@media (max-width: 800px) {
    .parsable-div img{
        width: 50vw;
        height: auto;
    }
}